@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');



body{
    background-color: #c79a8f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.container02{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #c79a8f;
    width: 100%;
    
}

.logo,.sociais{
    width: 26%;
}

.logo img{
    width: 60px;
    cursor: pointer;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image:linear-gradient(45deg, #ab6d65, #6e332e);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais_9 a{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-image: linear-gradient(45deg, #ab6d65, #6e332e);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 11px;
}

.sociais_9 a i{
    font-size: 19px;
    color: white;
}



.img_box{
    height: 50%;
}


.container{
    max-width: 100%;
    max-height: 100%;
}

.avaliacao{
    display: flex;
   }
  .star-icon{
    list-style-type: none;
    color: #ffe500;
    font-size: 50px;/* alterar o tamanho das estrelas */
  }
  .star-icon::before{
    content: "\2605";
  }



#valorant{
    width: 300px;
    height: 400px;
    margin: 15px;
    
}

#valorant img{
    height: 100%;
    width: 100%;
}



.ekko img{
    width: 5%;
    margin: 3%;
    transition: transform .2s;
}

.ekko img:hover{
    transform: scale(1.10);
}

.descricao h3,p{
    margin: 2%;
}




.KATON{
    margin-left: 300px;
    display: flex;
}

.itachi{
    padding: 20px;
    margin: 1px;
}

.Deidara{
    padding: 20px;
    margin: 1px;
}




.garou{
    background-color: #ab6d65;
    margin-top: 80px;
}
  

 .container{
    margin: 2%;
 }
 
  
  
  

  
  