@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');



body{
    background-color: #c79a8f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: #c79a8f;
    width: 100%;
    
}

.logo,.sociais{
    width: 26%;
}

.logo img{
    width: 60px;
    cursor: pointer;
}

.menu{
    width: 50%;
}

.menu nav a{
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    font-size: 18px;
    position: relative;
}

.menu nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image:linear-gradient(45deg, #ab6d65, #6e332e);
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s;
}

.menu nav a:hover::after{
    width: 30px;
}

.sociais_9 a{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-image: linear-gradient(45deg, #ab6d65, #6e332e);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 11px;
}

.sociais_9 a i{
    font-size: 19px;
    color: white;
}


.container01{
    
    background-color: #c79a8f;
}

.img_box{
    height: 50%;
}

.img_box1{
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


#cuphead{
    width: 300px;
    height: 350px;
    margin: 5px;
    
}

#cuphead img{
    height: 100%;
    width: 100%;
}

#estrela{
    height: 70px;
    width: 260px;
    display: flex;
}

.ekko img{
    width: 40px;
    margin: 10px;
    transition: transform .2s;
}

.ekko img:hover{
    transform: scale(1.10);
}

.descricao h3,p{
    margin: 12px;
}

.container007{
    background-color: #c79a8f;
    padding-left: 640px;
    height: 400px;
}


.carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
    display: flex;
}

.KATON{
    margin-left: 300px;
}

.itachi{
    padding: 20px;
    margin: 1px;
}

.Deidara{
    padding: 20px;
    margin: 1px;
}




.garou{
    background-color: #ab6d65;
    margin-top: 80px;
}
  

 
 
  
  
  

  
  